.cssfx{
    
}

#fondoEscena{
   /* background-image: url(../img/fondo.png);*/
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    float: none;
    /*left: 14px;*/
    /*positio: fixed;*/
    text-align: center;
    overflow: hidden;
}
#escena1{
    width: 100%;
    height: 85%;
    margin: auto;
    /* border: 1px #FFF solid; */
    position: relative;
    float: none;
    margin-top: 4.3em;
    max-width: 850px;
    max-height: 540px;
    padding-right: 1em;
  /*  padding-left: 3em;*/
}

.boton{
   /* width: 277px;
    height: 171px;
    background: none;
    background-image: url(../img/cuadro.png);
    border: none;*/
}

.boton:focus, .boton:active, .boton:visited, .boton:hover{
    outline: none;
}

.boton:hover{
    -ms-transform: scale(1.1,1.1); /* IE 9 */
    -webkit-transform: scale(1.1,1.1); /* Chrome, Safari, Opera */
    transform: scale(1.1,1.1);
    cursor: pointer;
}

.botonVerde{
    width: 13em;
    height: 6em;
    background: none;
    background-color: #D2E134;
    border: 0.2em #EEE solid;
    border-radius: 1em;
    margin: 1em;
    box-shadow: 5px 4px 7px #000000;
    font-size: inherit;
}

#opcion1{
    left: 32px;
    top: 210px;
}

#opcion2{
    left: 585px;
    top: 210px;
}

#opcion3{
    left: 32px;
    top: 390px;
}
#opcion4{
    left: 585px;
    top: 390px;
}
.textoBoton{
    font-size: 4em;
    font-weight: bold;
}
.textoNumero{
    font-size: 3em;
    font-weight: bold;
  /*  width: 11.89em;*/
    height: 3.05em;
    padding-top: 1.5em;
    float: none;
    margin: auto;
    
}
.destacado{
    color:#FF0000;
    font-size: inherit;
}
.btnSelected{
    -ms-transform: scale(1.2,1.2) !important; /* IE 9 */
    -webkit-transform: scale(1.2,1.2) !important; /* Chrome, Safari, Opera */
    transform: scale(1.2,1.2) !important;
    box-shadow: 0px 0px 26px 4px #0078b1 !important;
}
.digito{
    font-size: 5em;
    font-weight: bold;
    color: #FFF;
    width: 2em;
    height: 2.4em;
    padding-top: 0.55em;
    text-align: center;
    padding-right: 0.18em;
}
#numeroRandom {
    background-image: url(../img/cuadro1.png);
        
}

#digito {
    background-image: url(../img/cuadro2.png)
}

.centrado {
    margin-left: auto;
    margin-right: auto;
    float: none;
}

.fullWidth {
    width: 100%;
    display: block;
    text-align: center;
}

.boxwrap {
    display: -webkit-box;
	display: -moz-box;
	display: box;

	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	box-orient: vertical;

	-webkit-box-align: stretch;
	-moz-box-align: stretch;
	box-align: stretch;

	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	box-direction: normal;

	-webkit-box-pack: justify;
	-moz-box-pack: justify;
	box-pack: justify;
}

#zonaDigito {
    float: none;
    position: relative;
    -webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
}

#zonaBotones {
    -webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
    float: none;
    position: relative;
    font-size: 0.8em;
    max-height: 40%;
}

#zonanumero {
    float: none;
    position: relative;
    -webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
    max-width: 670px;
    margin: auto;
}
.botan{
    float: none;
    display: inline-block;
}
.boxvh {
    float:none;
    
    -webkit-box-flex: 3;
    -moz-box-flex: 3;
    box-flex: 3;
    
    display: -webkit-box;
	display: -moz-box;
	display: box;
    
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	box-orient: vertical;

	-webkit-box-align: center;
	-moz-box-align: center;
	box-align: center;

	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	box-direction: normal;

	-webkit-box-pack: justify;
	-moz-box-pack: justify;
	box-pack: justify;
}

