
/*
 * Please see the included README.md file for license terms and conditions.
 */
@-ms-viewport { width: 100vw ; zoom: 100% ; }                           @viewport { width: 100vw ; zoom: 100% ; }
@-ms-viewport { user-zoom: fixed ; }                                    @viewport { user-zoom: fixed ; }

*{
    text-align: center;
    background-size: 100% 100%;
    background-clip:border-box;
    font-family: 'Signika', sans-serif;
    font-size: 16px;
    font-weight: 600; 
}
span {
    display: inline;
    position: relative;
} 
html{
    overflow: hidden;
}
body {
    /* Disable certain interactions on touch devices */
    /* derived from https://github.com/ftlabs/fastclick/blob/master/examples/input.html */
    -webkit-touch-callout: none ;
    -webkit-text-size-adjust: none ; -ms-text-size-adjust: none ;
    -webkit-user-select: none ; -moz-user-select: none ; -ms-user-select: none ; user-select: none ;
    -webkit-highlight: none ;
    -webkit-tap-highlight-color: rgba(0,0,0,0) ;
    -webkit-tap-highlight-color: transparent ;      /* For some Androids */

    /* margin: 0.5rem ; */
    background: white ;
    color: black ;
    background-image: url("../img/mainbg.jpg");
    background-repeat: repeat;
    margin: 0px;
    padding: 0px;
    background-position: center center;
}
div{
    float:left;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}
button{
   background: none;
   background-size: 100% 100%;
   background-clip:border-box;
   border: none; 
}
button:focus, button:active, button:visited, button:hover{
    
    outline: none;
}

button:hover{
    cursor: pointer;
}

input, textarea  {
    /* allow copy-paste */
    -webkit-user-select: text ; -moz-user-select: text ; -ms-user-select: text ; user-select: text ;
}

.align-center {
    text-align: center ;
}

#header{
  
    height: 78px;
    width: 100%;
    top: 0px;
    text-align: left;
    position: fixed;
}


#titulo{
    text-align: left;
    font-size: 2em;
    padding-top: 10px;
    padding-left: 0px;
    color: #FFF;
}

.popsplash{
    width: 370px;
    height: 225px;
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    -ms-transform: scale(0,0); /* IE 9 */
    -webkit-transform: scale(0,0); /* Chrome, Safari, Opera */
    transform: scale(0,0);
    margin: auto;
    position: fixed;
}

#good{
    background-image: url(../img/good.png);
}

#tryagain{
    background-image: url(../img/tryagain.png);
}

#ready{
    background-image: url(../img/btn-listo.png);
}

#restart{
    background-image: url(../img/btn-comenzar.png);
}


#seeanswer{
    background-image: url(../img/seeanswer.png);
}
.botonesui{
   position: absolute;
    width: 170px;
    height: 75px;
    display: block;
    top: -58px;
    right: 5%;
    margin: auto;
}
.animsplash{
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-animation-timing-function: cubic-bezier(.45,.96,.81,.63);
    animation-timing-function: cubic-bezier(.45,.96,.81,.63);
}
#superWrapper{
    opacity: 1;
    width: 100%;
    height: 100%;
}
#blocklayer{
    display: none;
    background-color: #FFFFFF;
    left: 0px;
    top: 0px;
    opacity: 0.3;
    width: 1280px;
    height: 683px;
}
.animsBtnUI{
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-animation-timing-function: cubic-bezier(.45,.96,.81,.63);
    animation-timing-function: cubic-bezier(.45,.96,.81,.63);
}
.animsBtnUI:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Chrome, Safari, Opera */
    transform: scale(1.1);
    cursor: pointer;
}
#bgmid{
    width: 100%;
    height: 70px;
}
#hbl{      
    background-image: url(../img/head_left.png);
}
#hbm{
    background-image: url(../img/head_mid.png);
    width: 100%;
    background-repeat: repeat-x;
    text-align: left;
        
}
#hbr{
    background-image: url(../img/head_right.png);
}
.headpart{
    height: 100%;
    width: 90px;
    background-size: initial;
    background-position: top;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    margin: 0px;
    padding: 0px;
    border: none;
}

/*   FOOTER   */
#footer{
 /*  background-image: url(../img/foot.png);*/
    height: 67px;
    width: 100%;
    bottom: 0px;
    overflow: hidden;
    background-size: initial;
    background-repeat: no-repeat;
    background-position: bottom;
    position: fixed;
    text-align: center;
}

#bgfoot{
    width: inherit;
    height: 70px;
    bottom: 0px;
}

#fbl{      
    background-image: url(../img/foot_left.png);
}

#fbm{
    background-image: url(../img/foot_mid.png);
    width: 100%;
    background-repeat: repeat-x;
}

#fbr{
    background-image: url(../img/foot_right.png);
}

.footpart{
    height: 100%;
    width: 90px;
    background-size: initial;
    background-position: bottom;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    margin: 0px;
    padding: 0px;
    border: none;
}

#botonesUI{
    width: 200px;
    height: 200px;
    right: 0px;
    top: 160px;
    z-index: 20;
    text-align: left;
    position: fixed;
}

#btnInfo{
    background: none;
    border: none;
    background-image: url(../img/btn-info.png);
    width: 97px;
    height: 88px;
    display: block;
    right: 0px;
    position: absolute;
}
#btnInfo:hover{
     background-image: url(../img/btn-info-on.png);
}

#btnSonido{
    background: none;
    border: none;
    background-image: url(../img/btn-sonido.png);
    width: 97px;    height: 88px;
    top: 68px;
    right: 0px;
    position: absolute;
    display: block;
}
.btnSonidoMuted, .btnSonidoMuted:hover {
    background-image: url(../img/btn-sonido-off.png) !important;
}

#btnSonido:hover{
     background-image: url(../img/btn-sonido-on.png);
}

#instruccion{
    background-image: url(../img/instruccion.png);
    width: 255px;
    height: 202px;
    right: 0px;
    top: 160px;
    z-index: 22;
    text-align: left;
    position: fixed;
}
#hewrap {
    width: 100%;
    height: 100%;
    margin-left: -90px;
    margin-right: -90px;
    padding-right: 90px;
    padding-left: 90px;
}

#overallmisc{
    left: 0;
    right: 0;
}


.botonVerde{
    width: 13em;
    height: 6em;
    background: none;
    background-color: #D2E134;
    border: 0.2em #EEE solid;
    border-radius: 1em;
    margin: 1em;
    box-shadow: 5px 4px 7px #000000 !important;

}